/* variable */
:root{
      /* Typography */

      --ff-ubuntu: 'Ubuntu', sans-serif;
    
      --fs-1: 32px;
      --fs-2: 22px;
      --fs-3: 18px;
      --fs-4: 14px;
      --fs-5: 12px;
    
      --fw-500: 500;
      --fw-400: 400;
      --fw-700: 700;
}



/* reset */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

li { list-style: none; }
button{
    border: none;
    background: none;
}

/* header */
body{
    font-family: var(--ff-ubuntu);
}
header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: aqua;
}
.navbar{
    transform: translateY(-10px);
    width: 80%;
}
.navbar-list {
    padding-top: 2vh;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}
.back-ground{
    width: 100%;
}
.hide{
    display: none;
}
#btn2 button{
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: rgba(238, 224, 208);
}

.card{
    transition: 0.5s ease;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-20px);
}

.btn3, .btn4{  
    text-align: right;
    padding-right: 1.5vw;
    padding-bottom: 2vh;
}
.btn3 button, .btn4 button{
    width: 120px;
    height: 45px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.container1{
    width: 100%;
    text-align: center;
}
.container1 p{
    display: block;
    margin: auto;
    width: 70%;
    
}

.landing{
    background-image: url(../assets/backgrounds/background1.jpg);
    background-position-x: center;
    height: 590px;
    background-repeat: no-repeat;
    background-size: cover;

}
.img{
    padding-top: 20vh;
    width: 80%;
    padding-bottom: 5vh;
}
.headline{
    color: white;
    display: block;
    align-items: center;
}

.description{
    color: white;
}
section{
    padding-bottom: 10vh;
 }
.address{
    padding: 1vh 0 0 2vw;
}
hr{
    transform: translateY(-15px);
}
